ul-0 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li-0 {
    float: left;
}

li-0 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li-0 a:hover {
    background-color: #c2d6d6;
}
